:root { 
--black_900_90:#00000090; 
--red_200:#f28f8f; 
--red_300:#b16668; 
--light_blue_A700_6c:#058aff6c; 
--gray_50:#fafafa; 
--black_900_87:#00000087; 
--light_blue_A700_63_01:#0082f463; 
--black_900:#000000; 
--light_blue_A700:#0082f4; 
--blue_gray_800:#37474f; 
--gray_200_01:#f0f0f0; 
--indigo_500_dd:#3936cedd; 
--blue_gray_700:#455a64; 
--deep_orange_200:#ffa8a7; 
--blue_gray_900:#263238; 
--gray_600:#9e6767; 
--light_blue_A700_04:#058aff; 
--gray_700:#874c4c; 
--light_blue_A700_03:#0086fc; 
--gray_400:#c4c4c4; 
--black_900_0f:#0000000f; 
--gray_200:#ebebeb; 
--gray_300:#e0e0e0; 
--gray_100:#f5f5f5; 
--black_900_ab:#000000ab; 
--black_900_99:#00000099; 
--gray_400_01:#c3c3c3; 
--indigo_A400:#3c61e1; 
--light_blue_A700_63:#0283f563; 
--white_A700:#ffffff; 
--light_blue_A700_02:#0187fd; 
--light_blue_A700_01:#0080fd; 
}